
<!DOCTYPE html>
<html>
  <head>
    <title>credits</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Credits</h1>
    <a href="/">Home</a>
	<a href="/quizzes"> Quizzes</a>
    <p>ALANA CRISTINA FERNANDEZ BASQUERO</p>
    <img src="http://www.lavanguardia.com/r/GODO/LV/p5/WebSite/2018/02/12/Recortada/img_econcejo_20180212-115318_imagenes_lv_terceros_istock-149052633-kkWB-U44735822853DHD-992x558@LaVanguardia-Web.jpg">
  </body>
</html>