
<!DOCTYPE html>
<html>
  <head>
    <title>Quiz CORE</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<h1>Quizzes</hq>
	<p><a href="/">Home</a></p>
	<p><a href="/credits"> Credits</a></p>

	<ul>
	    <% for (let i in quizzes) { %>
	    <% const quiz = quizzes[i]; %>
	    <li>
	        Pregunta número <%= quiz.id %> => <%= quiz.question %> : <%= quiz.answer %>
	    </li>
	    <% } %>
	</ul>
	</body>
</html>